<div class="product-card">
  <a [routerLink]="['/menu', product.id]">
    <img [src]="product.image" [alt]="product.name" />
  </a>
  <div class="product-info">
    <h3>{{ product.name | uppercase }}</h3>
    <div class="tags">
      @if (product.vegeterian) {
        <span class="tag green">Vegetarian</span>
      }
      @if (product.nuts) {
        <span class="tag yellow">Contains Nuts</span>
      }
      <span class="tag red">Spiciness: {{ product.spiciness }}/5</span>
    </div>
    <div class="product-footer">
      <span class="price">{{ product.price | currency }}</span>
      <button (click)="onAddToCart()">Add to Cart</button>
    </div>
  </div>
</div>
